.mainImg{
    max-width:100%;
}

.qutoue{
    position: absolute;
    font-size: 167%;
    color: #30b4bb;
    top: 80px;
    left: 35px;
    width: 44%;
    min-height: 80%;
}

.main{
    position: relative;
    margin: -1%;
}

.qutoueblue{
    color:#296870;
    font-family: sans-serif;

}