.logo{
    width: 10%;
    margin-top: 0px;
    margin-right: 245px;
    margin-left: 25px;
}
.log{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24%;
    margin-bottom: 2%;
    margin-left: 3%;
}

.Nav{
    display: flex;
    background-color: hsla(0,0%,100%,.966);
    opacity: .98;
    box-shadow: 0 6px 6px -6px #777;
    position: sticky;
    top: 0;
    z-index: 1;
}

.ulNavBar{
    display: flex;
    list-style: none;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 0%;
}

li{
    padding: 5px;
    margin-left: 25px;
}
